extends ./_common/teamplate

block title
 | Генерация водяных знаков

block content
  main.maincontent
    .main-content
      include ./_common/_canvas
    aside.settings
      include ./_common/_settings