extends ./_common/_teamplate

block title
 | Генерация водяных знаков

block content
  main.maincontent
    .main-content
      include ./_common/_content
    aside.settings
      include ./_common/_settings