html, 
body{
  height: 100%;
}
body{
  background: url('/assets/images/bg.jpg') no-repeat;
  display: flex;
  background-size: cover;
  flex-flow: column nowrap;
  justify-content: center;
  margin: 0;
}
.wrapper{
  padding-top: 50px;
  padding-bottom: none;
}
.main_wrap{
  width:960px;
  min-height: 670px;
  margin: 0 auto;
}
.links{
  position: absolute;
  top: 69px;

  &__languages{
    margin-bottom: 20px;
  }
}
ul li:last-child{
  border-bottom: none;
}
.language, .socials{
  padding: 0;
  margin: 0;
}
.links__socials{
   float: left;
   display: block;
   margin-left: -43px;
}
.languages__item, .socials__item{
  list-style: none;
}
.languages__link, .socials__item, .links__like{
  display: block;
  text-decoration: none;
  color: #8e9298;
  font-size: 1.25em;
  font-family: "SegoeUILight";
  background: #d5d4d6;
  width: 43px;
  text-align: center;
  height: 34px;
  padding-top: 2px;

  &:hover{
    color: #444a53; 
  }
}
.languages__link, .socials__item, .links__like{
  border-bottom: 1px solid #a5a8ac;
}
.socials__link_fb{
  @include sprite($fb);
  display: block;
  margin: 2px 11px;
  
  &:hover{
    @include sprite($fb-hover);
    display: block;
    margin: 2px 11px;
  }
}
.socials__link_tw{
  @include sprite($tw);
  display: block;
  margin: 4px 6px;

  &:hover{
    @include sprite($tw-hover);
    display: block;
    margin: 4px 6px;
  }
}
.socials__link_vk{
  @include sprite($vk);
  display: block;
  margin: 6px 3px;

  &:hover{
    @include sprite($vk-hover);
    display: block;
    margin: 6px 3px;
  }
}
.like-link{
  @include sprite($like);
  display: block;
  margin: 0px 7px;

  &:hover{
    @include sprite($like-hover);
    display: block;
    margin: 0px 7px;
  }
}
.links__like{
  display: block;
  float: left;
}
