 .form__settings-btn{
  @extend %clearfix;
}
.settings-btn{
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 3px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}

.settings-btn_left {
  float: left;
  background-color: #c1cfd9;

  &:hover {
    background-color: darken(#c1cfd9, 20%);
  }
}

.settings-btn_right {
  float: right;
  background-color: #f97e76;

  &:hover {
    background-color: darken(#f97e76, 20%);
  }
}