/*==============================================
=====================CONTENT====================
================================================*/
.main_content{
  @extend %clearfix;
}
.content{
  width: 702px;
  height: 670px;
  opacity: 0.64;
  background-color: #2e3641;
  float: left;
}
.content__title{
  margin:10px 0 55px 25px;
}
.content__title-text{
  color: #fff;
  font-family: "Segoe UI";
  font-size: 36px;
  font-weight: 300;
  margin: 0;
  padding: 0;
}
.content__main-window{
  background: #fff;
  width: 651px;
  height: 535px;
  margin-left: 24px;
  display: flex;
  overflow: hidden;
}
.content__img-block{
  margin: auto;
  position: relative;
  overflow: hidden;
}
.content__watermark-block{
  position: absolute;
  left: 0;
  top: 0;
}
.content__img{
  max-width: 651px;
  max-height: 535px;
}
.content__watermark{
  max-width: 216px;
  max-height: 223px;
}
#watermark{
  position: absolute;
}
.top00{
  position: absolute;
  top: 0;
  left: 0;
} 
.top01{
  position: absolute;
  top: 0;
  left: 50%;
}
.top02{
  position: absolute;
  top: 0;
  left: 100%;
  transform: translateX(-100%);
}
.center10{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
} 
.center11{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.center12{
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-100% , -50%);
}
.bottom20{
  position: absolute;
  top: 100%;
  left: 0;
  transform: translateY(-100%);
} 
.bottom21{
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50% , -100% );
}
.bottom22{ 
  position: absolute; 
  top: 100%;
  left: 100%;
  transform: translate(-100% , -100%);
}