.form{
  &__title{
    font-size: 14px;
    font-family:'RobotoMedium';
    color: #2e3641;
    margin-bottom: 8px;
    display: inline-block;
  }
  &__section{
  width: 220px;
  margin: 0 auto;
  @extend %clearfix;
      &__title{
      font-size: 14px;
      font-family: 'RobotoLight';
      font-weight: normal;
      color: #2e3641;
        &_pos{
          float:left;
        }
      }
  }
  &__file{
    width: 224px;
    position: relative;
    margin-bottom: 20px;
    margin-top: 8px;
    display: flex;
    flex-flow: row nowrap;
  }

  &__input-img{
    height: 27px;
    width: 183px;
    padding: 0;
    box-sizing: border-box;
    border-radius: 3px;
    outline: none;
    border: 1px solid #9eb2c0;
    color:#a4b7c4;
    font-size: 10px;
    font-family: 'RobotoLight';
    padding-left: 5px;
    cursor:pointer;
  }
  &__btn{
    padding: 0;
    margin: 0;
    position: absolute;
    right: 4px;
    display: block;
    height: 27px;
    width: 39px;
    box-sizing: border-box;
    border-radius: 0px 5px 5px 0;
    cursor: pointer;
    background:#f97e76;
      &:before{
        position: absolute;
     content: " ";
     @include sprite($download);
     background-repeat: no-repeat;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
      }
      &:hover{
       background: #f52214;
      }
  }
}
.fileupload {
    position: absolute;
    border: none;
    clip: rect(0 0 0 0);
    width: 0px;
    height: 0px;
    overflow: hidden;
    padding: 0;
  }
.form__section_disabledInput{
    position: absolute;
    background-color: rgba(241, 241, 245, 0.64);
    width: 258px;
    height: 85px;
    top: 21%;
    left: 0%;
    z-index: 1;
    transition: all 1s linear;
  }
.hidden{
    display: none;
  }
.visuallyhidden {
  opacity: 0;
}
.form__section_disabledSettings{
    position: absolute;
    background-color: rgba(241, 241, 245, 0.64);
    width: 258px;
    height: 64%;
    top: 33%;
    left: 0%;
    z-index: 10;
    transition: all 1s linear;
}