.form__section.settings-wrap_btn
  .form__settings-btn
    button.settings-btn_left.settings-btn.settings-btn_clean#reset(type="reset") Сброс
    button.settings-btn_right.settings-btn.settings-btn_download#submit(type="submit") Скачать