.form__section.settings-wrap_btn

  .form__settings-btn
    button.settings-btn_left.settings-btn.settings-btn_clean#form__reset-btn(type="reset" disabled) Сброс
    button.settings-btn_right.settings-btn.settings-btn_download#submit(type="submit" disabled) Скачать
  //- .settings-btn
  //-   button.settings-btn_left.settings-btn__elem.settings-btn_clean#form__reset-btn Сброс
  //-   button.settings-btn_right.settings-btn__elem.settings-btn_download Скачать

