section.content
	.content__title
		h1.content__title-text Генератор водяных знаков
	.content__main-window
		.content__img-block#contentImgBlock
			img.content__img#uploaded-img
			.content__watermark-block#watermark
				img.content__watermark#watermarkImg