.form__section.settings-wrap_file
    label.form__section__title.form__section__title_img#image Исходное изображение
    .form__file
      input(type="text" class="form__input-img form__input-img_image" name="filename" placeholder="Image.png")
      label.form__btn
        input(type="file" id="main_img"  class="fileupload" name="files" data-url="php/index.php" accept="image/jpeg,image/png,image/gif")
    label.form__section__title.form__section__title_watermark#watermark Водяной знак
    .disabled_block_input
    .form__file
      input(type="text" class="form__input-img form__input-img_watermark" name="filename" placeholder="Image.png")
      label.form__btn
        input(type="file" id="watermarkFile" class="fileupload" name="files" disabled data-url="php/index.php" accept="image/jpeg,image/png,image/gif")
.hr-down