.form__section_disabledSettings
.form__section.settings-wrap_pos
  .form__section__title.form__section__title_pos Положение
  .setting-pos__toggle
    button(type="radio" class="setting-pos__toggle setting-pos__toggle-tessel" id="tessel" data-type-pos="tessel-mode" )
    button(type="radio" class="setting-pos__toggle setting-pos__toggle-single setting-pos__toggle setting-pos__toggle-single_active" id="single" data-type-pos="single-mode" )
  .setting-box
      .settings-box__row
        .settings-box__cell.block00
        .settings-box__cell.block01
        .settings-box__cell.block02
      .settings-box__row
        .settings-box__cell.block10
        .settings-box__cell.block11
        .settings-box__cell.block12  
      .settings-box__row
        .settings-box__cell.block20
        .settings-box__cell.block21
        .settings-box__cell.block22
  .setting-pos.setting-pos_one
    .setting-pos__box
      label.setting-pos__text X
      input(name="control_X" type="number" class="setting-pos__control control_X" id="control_X")
      .setting-pos__control-box
        .setting-pos__control-btn.setting-pos__control-btn_up#upX
        .setting-pos__control-btn.setting-pos__control-btn_down#downX
    .setting-pos__box
      label.setting-pos__text Y
      input(name="control_Y" type="number" class="setting-pos__control control_Y" id="control_Y")
      .setting-pos__control-box
        .setting-pos__control-btn.setting-pos__control-btn_up#upY
        .setting-pos__control-btn.setting-pos__control-btn_down#downY
.hr-down
