.form__section.settings-wrap_pos
  .form__section__title Положение
  .setting-box
      .settings-box__row
        .settings-box__cell
        .settings-box__cell
        .settings-box__cell
      .settings-box__row
        .settings-box__cell
        .settings-box__cell
        .settings-box__cell  
      .settings-box__row
        .settings-box__cell
        .settings-box__cell
        .settings-box__cell  
  .setting-pos.setting-pos_one
    .setting-pos__box
      label.setting-pos__text X
      input(type="text" class="setting-pos__control control_X" id="control_X")
      .setting-pos__control-box
        .setting-pos__control-btn.setting-pos__control-btn_up#upX
        .setting-pos__control-btn.setting-pos__control-btn_down#downX
    .setting-pos__box
      label.setting-pos__text Y
      input(type="number" class="setting-pos__control control_Y" id="control_Y")
      .setting-pos__control-box
        .setting-pos__control-btn.setting-pos__control-btn_up#upY
        .setting-pos__control-btn.setting-pos__control-btn_down#downY
.hr-down
