.settings__title Настройки
form.form-settings#form(method="post")
  input(type="hidden" name="fileurl" class="fileurl" id="imgInput" )
  input(type="hidden" name="watermark"  id="waterInput" )
  input#opacity-input(type="hidden" name="opacity")
  input(type="hidden" name="mode")
  include _file
  include _position
  include _opacity
  include _buttons
