/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$down-arrow-h-name: 'down-arrow-h';
$down-arrow-h-x: 0px;
$down-arrow-h-y: 0px;
$down-arrow-h-offset-x: 0px;
$down-arrow-h-offset-y: 0px;
$down-arrow-h-width: 13px;
$down-arrow-h-height: 8px;
$down-arrow-h-total-width: 259px;
$down-arrow-h-total-height: 386px;
$down-arrow-h-image: '../images/sprite.png';
$down-arrow-h: (0px, 0px, 0px, 0px, 13px, 8px, 259px, 386px, '../images/sprite.png', 'down-arrow-h', );
$down-arrow-name: 'down-arrow';
$down-arrow-x: 0px;
$down-arrow-y: 54px;
$down-arrow-offset-x: 0px;
$down-arrow-offset-y: -54px;
$down-arrow-width: 13px;
$down-arrow-height: 8px;
$down-arrow-total-width: 259px;
$down-arrow-total-height: 386px;
$down-arrow-image: '../images/sprite.png';
$down-arrow: (0px, 54px, 0px, -54px, 13px, 8px, 259px, 386px, '../images/sprite.png', 'down-arrow', );
$download-name: 'download';
$download-x: 0px;
$download-y: 92px;
$download-offset-x: 0px;
$download-offset-y: -92px;
$download-width: 21px;
$download-height: 16px;
$download-total-width: 259px;
$download-total-height: 386px;
$download-image: '../images/sprite.png';
$download: (0px, 92px, 0px, -92px, 21px, 16px, 259px, 386px, '../images/sprite.png', 'download', );
$fb-name: 'fb';
$fb-x: 0px;
$fb-y: 275px;
$fb-offset-x: 0px;
$fb-offset-y: -275px;
$fb-width: 15px;
$fb-height: 27px;
$fb-total-width: 259px;
$fb-total-height: 386px;
$fb-image: '../images/sprite.png';
$fb: (0px, 275px, 0px, -275px, 15px, 27px, 259px, 386px, '../images/sprite.png', 'fb', );
$fb-hover-name: 'fb_hover';
$fb-hover-x: 0px;
$fb-hover-y: 238px;
$fb-hover-offset-x: 0px;
$fb-hover-offset-y: -238px;
$fb-hover-width: 15px;
$fb-hover-height: 27px;
$fb-hover-total-width: 259px;
$fb-hover-total-height: 386px;
$fb-hover-image: '../images/sprite.png';
$fb-hover: (0px, 238px, 0px, -238px, 15px, 27px, 259px, 386px, '../images/sprite.png', 'fb_hover', );
$hr-name: 'hr';
$hr-x: 0px;
$hr-y: 72px;
$hr-offset-x: 0px;
$hr-offset-y: -72px;
$hr-width: 259px;
$hr-height: 10px;
$hr-total-width: 259px;
$hr-total-height: 386px;
$hr-image: '../images/sprite.png';
$hr: (0px, 72px, 0px, -72px, 259px, 10px, 259px, 386px, '../images/sprite.png', 'hr', );
$like-name: 'like';
$like-x: 0px;
$like-y: 312px;
$like-offset-x: 0px;
$like-offset-y: -312px;
$like-width: 26px;
$like-height: 32px;
$like-total-width: 259px;
$like-total-height: 386px;
$like-image: '../images/sprite.png';
$like: (0px, 312px, 0px, -312px, 26px, 32px, 259px, 386px, '../images/sprite.png', 'like', );
$like-hover-name: 'like_hover';
$like-hover-x: 0px;
$like-hover-y: 354px;
$like-hover-offset-x: 0px;
$like-hover-offset-y: -354px;
$like-hover-width: 26px;
$like-hover-height: 32px;
$like-hover-total-width: 259px;
$like-hover-total-height: 386px;
$like-hover-image: '../images/sprite.png';
$like-hover: (0px, 354px, 0px, -354px, 26px, 32px, 259px, 386px, '../images/sprite.png', 'like_hover', );
$tw-name: 'tw';
$tw-x: 0px;
$tw-y: 174px;
$tw-offset-x: 0px;
$tw-offset-y: -174px;
$tw-width: 28px;
$tw-height: 22px;
$tw-total-width: 259px;
$tw-total-height: 386px;
$tw-image: '../images/sprite.png';
$tw: (0px, 174px, 0px, -174px, 28px, 22px, 259px, 386px, '../images/sprite.png', 'tw', );
$tw-hover-name: 'tw_hover';
$tw-hover-x: 0px;
$tw-hover-y: 206px;
$tw-hover-offset-x: 0px;
$tw-hover-offset-y: -206px;
$tw-hover-width: 28px;
$tw-hover-height: 22px;
$tw-hover-total-width: 259px;
$tw-hover-total-height: 386px;
$tw-hover-image: '../images/sprite.png';
$tw-hover: (0px, 206px, 0px, -206px, 28px, 22px, 259px, 386px, '../images/sprite.png', 'tw_hover', );
$up-arrow-h-name: 'up-arrow-h';
$up-arrow-h-x: 0px;
$up-arrow-h-y: 36px;
$up-arrow-h-offset-x: 0px;
$up-arrow-h-offset-y: -36px;
$up-arrow-h-width: 13px;
$up-arrow-h-height: 8px;
$up-arrow-h-total-width: 259px;
$up-arrow-h-total-height: 386px;
$up-arrow-h-image: '../images/sprite.png';
$up-arrow-h: (0px, 36px, 0px, -36px, 13px, 8px, 259px, 386px, '../images/sprite.png', 'up-arrow-h', );
$up-arrow-name: 'up-arrow';
$up-arrow-x: 0px;
$up-arrow-y: 18px;
$up-arrow-offset-x: 0px;
$up-arrow-offset-y: -18px;
$up-arrow-width: 13px;
$up-arrow-height: 8px;
$up-arrow-total-width: 259px;
$up-arrow-total-height: 386px;
$up-arrow-image: '../images/sprite.png';
$up-arrow: (0px, 18px, 0px, -18px, 13px, 8px, 259px, 386px, '../images/sprite.png', 'up-arrow', );
$vk-name: 'vk';
$vk-x: 0px;
$vk-y: 146px;
$vk-offset-x: 0px;
$vk-offset-y: -146px;
$vk-width: 32px;
$vk-height: 18px;
$vk-total-width: 259px;
$vk-total-height: 386px;
$vk-image: '../images/sprite.png';
$vk: (0px, 146px, 0px, -146px, 32px, 18px, 259px, 386px, '../images/sprite.png', 'vk', );
$vk-hover-name: 'vk_hover';
$vk-hover-x: 0px;
$vk-hover-y: 118px;
$vk-hover-offset-x: 0px;
$vk-hover-offset-y: -118px;
$vk-hover-width: 32px;
$vk-hover-height: 18px;
$vk-hover-total-width: 259px;
$vk-hover-total-height: 386px;
$vk-hover-image: '../images/sprite.png';
$vk-hover: (0px, 118px, 0px, -118px, 32px, 18px, 259px, 386px, '../images/sprite.png', 'vk_hover', );
$spritesheet-width: 259px;
$spritesheet-height: 386px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($down-arrow-h, $down-arrow, $download, $fb, $fb-hover, $hr, $like, $like-hover, $tw, $tw-hover, $up-arrow-h, $up-arrow, $vk, $vk-hover, );
$spritesheet: (259px, 386px, '../images/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Here are example usages in HTML:

`display: block` sprite:
<div class="icon-home"></div>

`display: inline-block` sprite:
<img class="icon-home" />
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
